///*------------------------------------*\
//    #SITES
//\*------------------------------------*/

/* VARIABLES
========================================================================== */

/* LIST
========================================================================== */
.sites-list__item {
	float: left;
	width: 20%;

	img {
		width: 100%;
	}

	a {
		width: 100%;
	}

	@include breakpoint(only-mobile) {
		img {
			height: 280px;
		}
	}

}