<header class="navigation-wrapper row">
  <div class="navigation-content">
    <div class="config-menu link-list-wrapper">
      <button class="config-menu__action link-list__action">
        <img class="config-menu__thumb" src="/assets/img/examples/user-thumb-example.jpg" alt="" />
        <span class="config-menu__title">NIC CEWEB</span>
        <img class="" src="/assets/img/icons/icon-arrow.svg" alt="" />
      </button>
      <ul class="link-list link-list--menu col-2-12">
        <li class="link-list__item">
          {{#link-to "ferramenta.perfil" class="link-list__anchor"}}
            <img class="link-list__icon" src="/assets/img/icons/icon-profile.svg" alt="" />
            Profile
          {{/link-to}}
        </li>
        <li class="link-list__item">
          <a href="#" class="link-list__anchor" {{action 'invalidateSession'}}>
            <img class="link-list__icon" src="/assets/img/icons/icon-logout.svg" alt="" />
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

