.wordtree-diagram {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

svg.wordtree-chart {
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    cursor: pointer;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
}
