<div class="section-wrapper">
  <div class="content">
    <h1 class="title title--type-3">Explore filtros</h1>
    <ul class="cards-list content--list">
      {{#each model as |job|}}
        {{landing-page/card-filter job=job}}
      {{/each}}
    </ul>
    <div class="row u-center-elements">
      {{card-pagination content=model}}
    </div>
  </div>
</div>
