<!-- TOOL CONTENT -->
<main class="tool-content-wrapper" id="main">
	<div class="row">
		<a href="#" class="anchor-button anchor-button--type-2 anchor-button--size-3 anchor-button--color-4 u-margin-3">&lt; voltar</a>
	</div>
	<h2 class="title">Adicionar base de dados</h2>
	<form action="">
		<div class="wrapper-content">
			<div class="inner-wrapper inner-wrapper--type-2">
				<div class="input-wrapper">
					<label class="label" for="name">Nome:</label>
					<input class="input input--size-2" type="text" id="name" placeholder="Nova base de dados">
				</div>
				<div class="input-wrapper">
					<label class="label" for="description">Descrição:</label>
					<textarea class="input input--textarea" id="description" placeholder="Descrição da sua base de dados"></textarea>
				</div>
				<div class="input-wrapper">
					<span class="label">Arquivo:</span>
					<label for="inputfile" class="anchor-button anchor-button--type-2 anchor-button--color-3">Procurar</label>
					<input type="file" class="input--file" id="inputfile">
				</div>
				<div class="input-wrapper">
					<label class="label" for="type">Tipo:</label>
					<div class="custom-select custom-select--size-2" id="type">
						<select>
							<option value="">----</option>
							<option value="">Datasource</option>
							<option value="">Valor C</option>
						</select>
					</div>
				</div>
				<div class="input-wrapper">
					<label class="label" for="format">Formato:</label>
					<div class="custom-select custom-select--size-2" id="format">
						<select>
							<option value="">----</option>
							<option value="">JSON</option>
							<option value="">CSV</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="u-center-elements">
			<button class="anchor-button anchor-button--size-2" type="submit">Enviar base de dados</button>
		</div>
	</form>
</main>
<!-- END TOOL CONTENT -->
