<div class="row empty-vis-wrapper">
  <div class="col-md-12 empty-vis">
    <i class="fa fa-eye-slash fa-5x"></i>

    {{#if msg}}
      <h2>{{msg}}</h2>
    {{else}}
      <h2> Esta consulta não retornou resultados </h2>
    {{/if}}
  </div>
</div>
