{{visualizations/sentiment-analysis/sentiment-matrix
  width=width
  height=height
  _id=_id
  title=title
  dataUrl=dataUrl
}}

<br>
<div class='row'>
  <div class="col-xs-12 col-md-12">
    <div class='col-xs-12 col-md-6'>

      {{!-- Time chart --}}
      {{visualizations/sentiment-analysis/table-chart
      width="100%"
      height="auto"
      _id="table-1"
      title="Average Score"
      type="users"
      columns='["Participante", "(%)", "Positividade"]'
      dataUrl=dataUrl
      }}

    </div>

    <div class='col-xs-12 col-md-6'>

      {{!-- Time chart --}}
      {{visualizations/sentiment-analysis/table-chart
        width="100%"
        height="auto"
        _id="table-2"
        title="Average Score"
        type="papers"
        columns='["Item Comentável", "(%)", "Positividade"]'
        dataUrl=dataUrl
      }}

    </div>
  </div>
</div>
