<div class="header-wrapper">
  <div class="content">
    <div class="u-center-elements">
      <h1 class="title title--type-3 u-color--white">Pesquise entre centenas de projetos de lei lorem ipsum dolor sit amet</h1>
      {{link-to "Crie seu filtro" "landing-page.login" class="anchor-button anchor-button--size-2"}}
      <a href="../home/filtros" class="anchor-button anchor-button--size-2 anchor-button--transparent">Explore filtros</a>
    </div>
  </div>
</div>
<!-- END HOME HEADER -->
<div class="section-wrapper">
  <div class="content">
    <h2 class="title">Explore filtros</h2>
    <!-- CARDS LIST -->
     <ul class="cards-list content--list">
      {{#each model as |job|}}
        {{landing-page/card-filter job=job}}
      {{/each}}
    </ul>
    <!-- END CARDS LIST -->
    <div class="row u-center-elements">
      <a href="../home/filtros" class="anchor-button anchor-button--size-2">Ver todos os filtros</a>
    </div>
  </div>
</div>
<!-- END HOME CONTENT -->
