<div class="header-wrapper">
  <div class="content">
    <div class="u-center-elements">
      <h1 class="title title--type-3 u-color--white">Seja bem vindo ao Lemonade! Faça operações e filtros em várias fontes de dados públicas ou faça upload de suas próprias fontes.</h1>
      {{link-to "Crie seu filtro" "landing-page.login" class="anchor-button anchor-button--size-2"}}
      <a href="../home/filtros" class="anchor-button anchor-button--size-2 anchor-button--transparent">Explore filtros</a>
    </div>
  </div>
</div>
<!-- END HOME HEADER -->
<div class="section-wrapper">
  <div class="content">
    <h2 class="title">Explore filtros</h2>
    <!-- CARDS LIST -->
    <ul class="cards-list content--list">
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Segurança</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Democracia e Privacidade</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Privacidade</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Privacidade ou criptografia</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Marimbondo: proteção ou dados pessoais</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Criptografia</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Proteção ou dados pessoais e governo do estado do RS</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
      <li class="cards-list__item col-3-12">
        <article class="card">
          <header class="card__header">
            <h2 class="card__title"><a href="../home/filtros/aberto">Privacidade e segurança</a></h2>
            <div class="card__thumb media-thumb">
              <img class="media-thumb__thumb" src="/assets/img/examples/card-example.jpg" alt="" />
            </div>
          </header>
          <div class="card__content">
            <time class="card__time">21 de fevereiro de 2017 </time>
            <p class="card__info">em: <a href="../home/bases/aberta">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
            <p class="card__info">por: <a href="#">CEWEB</a></p>
          </div>
        </article>
      </li>
    </ul>
    <!-- END CARDS LIST -->
    <div class="row u-center-elements">
      <a href="../home/filtros" class="anchor-button anchor-button--size-2">Ver todos os filtros</a>
    </div>
  </div>
</div>
<!-- END HOME CONTENT -->
