<main class="tool-content-wrapper" id="main">
<!-- TOOL HOME CONTENT EMPTY -->
<section>
  <div class="section-wrapper u-center-all">
    <div class="u-margin-4 clearfix">
      <div class="u-margin-3">
        <img src="assets/img/icons/icon-empty-data.svg" alt="">
      </div>
      <div class="col-8-12 clearfix">
        <h2 class="title">Vocês ainda não possui filtros feitos</h2>
        <p class="description description--size-2">Inicie seus projetos, envie bases de dados, faça filtros e analise as informações coletadas em diversas formas de visualização, todas à sua escolha.</p>
      </div>
    </div>
    <div>
      {{link-to 'Enviar nova base de dados' 'ferramenta.bases.adicionar' class="anchor-button"}}
      {{link-to 'Criar novo filtro' 'ferramenta.filtros.adicionar' class="anchor-button"}}
    </div>
  </div>
</section>
<!-- END TOOL HOME CONTENT EMPTY -->
</main>
