<th>
  <label for="checkall" id="select-all-items">
    <input type="checkbox" class="checkbox" id="checkall" onchange={{action "selectAll"}}>
    <span></span>
  </label>
</th>
<th>Nome da base</th>
<th class="u-row-width--10">Ações</th>
<th>Filtrar nesta base</th>
<th>Autor</th>
<th class="u-row-width--10">Criada em</th>
