<div class="tool-wrapper">
  <div class="tool-container">
    <!-- MENU NAVBAR -->
    {{ferramenta/options-navbar}}
    <div class="tool-content">
      <!-- HEADER -->
      {{ferramenta/profile-header}}
      <!-- END HEADER -->
      {{outlet}}
    </div>
  </div>
</div>
