<div class="tool-wrapper">
  <div class="tool-container">
    <!-- MENU NAVBAR -->
    {{ferramenta/options-navbar}}
    <div class="tool-content">
      <!-- HEADER -->
      {{ferramenta/profile-header}}

      <script type="text/javascript">
var linkListContainer = document.querySelector('.link-list-wrapper'),
  linkListActionButton = document.querySelector('.link-list__action');

linkListActionButton.addEventListener('click', function () {

  if (linkListContainer.classList.contains('is-open')) {

    linkListContainer.classList.remove('is-open');

  } else {

    linkListContainer.classList.add('is-open');

  }

});
      </script>

      <!-- END HEADER -->
      <main class="tool-content-wrapper" id="main">
      <!-- TOOL HOME CONTENT -->

      <!-- END TOOL HOME CONTENT -->
      </main>
    </div>
  </div>
  <div class="tool-footer">
    <!-- FOOTER -->
    <footer class="wrapper-footer">
      <div class="content">
        <img class="footer-logo" src="../img/logo/logo--reverso.jpg" alt="Lemonade" />
        <p class="paragraph u-color--white col-6-12">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <ul class="sponsors-list u-flow-opposite">
          <li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="../img/logo/logo-ufmg.jpg" alt="UFMG"></a></li>
          <li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="../img/logo/logo-ceweb.svg" alt="CEWEB"></a></li>
          <li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="../img/logo/logo-nic.svg" alt="NIC"></a></li>
          <li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="../img/logo/logo-cgi.svg" alt="CGI"></a></li>
        </ul>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
</div>
