<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <header id="header-wrap" style="height:75px">
        {{landing-page.landing-page-header}}
      </header>
    </div> <!-- col -->
    {{outlet}}
    <div class="col-xs-12">
      {{landing-page.landing-page-footer}}
    </div>
  </div> <!-- row -->
</div><!-- container -->

