<div class="main-wrapper">
  <div class="app sidebar-fixed header-fixed footer-fixed" id="app">
    {{app-header}}
    {{main-sidebar publicResultsActive='active'}}
    <article class="content items-list-page">
      <div class="title-search-block">
        <div class="title-block">
          <div class="row">
            <div class="col-md-6">
              <h3 class="title">
                <i class="fa fa-file-text-o"></i> Jobs
              </h3>
              <p class="title-description"> List of all Jobs - e.g. Running, finished,  etc... </p>
            </div>
          </div>
        </div>
      </div>
  <div class="card items">
    {{public/large-table jobs=model}}
  </div>
    </article>
    {{app-footer}}
</div>
</div>
