svg.correlation-matrix-chart {
  .background {
    fill: #eee;
  }

  line {
    stroke: #fff;
  }

  .legend.title {
    font-size: 1em;
  }

  text.active {
    fill: red;
  }
}

.gViz-wrapper.correlation-matrix-chart {
  overflow: auto;

  .sort-by {
    transform: translate(0px, 5px);
    font-weight: bold;
  }

  #data-buttons {
    text-align: right;
  }
}
