svg.correlation-matrix-chart {
  .background {
    fill: #eee;
  }

  line {
    stroke: #fff;
  }

  .legend.title {
    font-size: 1em;
  }

  text.active {
    fill: red;
  }
}

.correlation-controls {
  .sort-by {
    transform: translate(0px, 5px);
    font-weight: bold;
  }

  #data-buttons {
    text-align: right;

    .data-button {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}


.gViz-wrapper.correlation-matrix-chart {
  padding: 0;
  overflow: auto;

  margin-right: -15px;

}
