<div class="col-xs-12">
  <h3 class="title">Results from job {{model.name}}
    <span class="sparkline bar" data-type="bar"></span>
  </h3>
  {{public/vis-cards-container
  jobId=model.id
  }}
</div>
