<!-- CARDS LIST -->
<ul class="cards-list content--list">
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Segurança</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Democracia e Privacidade</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Privacidade</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Privacidade ou criptografia</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Marimbondo: proteção ou dados pessoais</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Criptografia</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Proteção ou dados pessoais e governo do estado do RS</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
	<li class="cards-list__item col-3-12">
		<article class="card">
			<header class="card__header">
				<h2 class="card__title"><a href="{{ "home/filtros/aberto" | prepend: page.baseurl }}">Privacidade e segurança</a></h2>
				<div class="card__thumb media-thumb">
					<img class="media-thumb__thumb" src="{{ "img/examples/card-example.jpg" | prepend: page.baseurl }}" alt="" />
				</div>
			</header>
			<div class="card__content">
				<time class="card__time">21 de fevereiro de 2017 </time>
				<p class="card__info">em: <a href="{{ "home/bases/aberta" | prepend: page.baseurl }}">Anteprojeto de Lei para a Proteção de Dados Pessoais</a></p>
				<p class="card__info">por: <a href="#">CEWEB</a></p>
			</div>
		</article>
	</li>
</ul>
<!-- END CARDS LIST -->