<!-- FOOTER -->
<footer class="wrapper-footer">
	<div class="content">
		<img class="footer-logo" src="{{ "img/logo/logo--reverso.jpg" | prepend: page.baseurl }}" alt="Lemonade" />
		<p class="paragraph u-color--white col-6-12">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<ul class="sponsors-list u-flow-opposite">
			<li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="{{ "img/logo/logo-ufmg.jpg" | prepend: page.baseurl }}" alt="UFMG"></a></li>
			<li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="{{ "img/logo/logo-ceweb.svg" | prepend: page.baseurl }}" alt="CEWEB"></a></li>
			<li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="{{ "img/logo/logo-nic.svg" | prepend: page.baseurl }}" alt="NIC"></a></li>
			<li class="sponsors-list__item"><a class="sponsors-list__anchor" href="#"><img class="sponsors-list__image" src="{{ "img/logo/logo-cgi.svg" | prepend: page.baseurl }}" alt="CGI"></a></li>
		</ul>
	</div>
</footer>
<!-- END FOOTER -->