<!-- HEADER -->
<header class="navigation-wrapper">
	<div class="content">
		<div class="navigation-content">
			<a href="{{ "home/" | prepend: page.baseurl }}" class="navigation__logo"><img src="{{ "img/logo/logo.jpg" | prepend: page.baseurl }}" alt="Lemonade"></a>
			<nav class="navigation" id="js-navigation">
				<ul class="navigation-list">
					<li class="navigation-list__item">
						<a href="{{ "home/filtros" | prepend: page.baseurl }}" class="navigation-list__anchor">explore filtros</a>
					</li>
					<li class="navigation-list__item">
						<a href="{{ "home/bases" | prepend: page.baseurl }}" class="navigation-list__anchor">explore bases</a>
					</li>
					<li class="navigation-list__item">
						<a href="{{ "home/sobre" | prepend: page.baseurl }}" class="navigation-list__anchor">sobre</a>
					</li>
					<li class="navigation-list__item">
						<a href="{{ "home/contato" | prepend: page.baseurl }}" class="navigation-list__anchor">contato</a>
					</li>
					<li class="navigation-list__item">
						<a href="{{ "home/cadastro" | prepend: page.baseurl }}" class="navigation-list__anchor">inscreva-se</a>
					</li>
				</ul>
			</nav>
			<a href="{{ "home/login" | prepend: page.baseurl }}" class="anchor-button">Entrar</a>
		</div>
	</div>
</header>
<!-- END HEADER -->