<!-- VISUALIZATION LIST -->
<ul class="cards-list content--list">
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--search.svg" | prepend: page.baseurl }}" alt="Search Tool" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Search Tool</a></h3>
			</div>
		</div>
	</li>
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--tree.svg" | prepend: page.baseurl }}" alt="Word Tree" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Word Tree</a></h3>
			</div>
		</div>
	</li>
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--occurence.svg" | prepend: page.baseurl }}" alt="Co-occurence" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Co-occurence</a></h3>
			</div>
		</div>
	</li>
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--occurence.svg" | prepend: page.baseurl }}" alt="Co-occurence Full Data" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Co-occurence Full Data</a></h3>
			</div>
		</div>
	</li>
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--participants.svg" | prepend: page.baseurl }}" alt="Participants - Itens" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Participants - Itens</a></h3>
			</div>
		</div>
	</li>
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--sentiment.svg" | prepend: page.baseurl }}" alt="Sentiment Analysis" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Sentiment Analysis</a></h3>
			</div>
		</div>
	</li>
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--correlation.svg" | prepend: page.baseurl }}" alt="Correlation Matrix" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Correlation Matrix</a></h3>
			</div>
		</div>
	</li>
	<li class="cards-list__item col-3-12">
		<div class="card card--type-2">
			<a href="#" class="card__header">
				<img class="" src="{{ "img/icons/icon-results--topics.svg" | prepend: page.baseurl }}" alt="Tópicos" />
			</a>
			<div class="card__content">
				<h3 class="card__info"><a href="#">Tópicos</a></h3>
			</div>
		</div>
	</li>
</ul>
<!-- END VISUALIZATION LIST -->