<main class="tool-content-wrapper" id="main">
<!-- FILTROS CONTENT -->
  <section>
    <h2 class="title">Resultado dos filtros</h2>
    <a href="../../ferramenta/filtros/adicionar" class="anchor-button">Criar novo filtro</a>
    <div class="u-flow-opposite">
      <input type="search" class="input input--search" placeholder="busca">
      <button class="input--search--button"></button>
    </div>
    <section class="row">
      <h3 class="title title--type-2">Filtros em andamento</h3>
      <table class="table">
        <thead class="table__head">
          <tr>
            <th>ID</th>
            <th>Nome do filtro</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Visualizar</th>
            <th>Criada em</th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr>
            <td>58a4a</td>
            <td>privacidade-segurança</td>
            <td>NIC CEWEB</td>
            <td><img class="" src="../../img/icons/icon-status--running.svg" alt="Processando" /></td>
            <td><strong>aguarde</strong></td>
            <td>15 de Fev de 2017 17:09</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="row">
      <h3 class="title title--type-2">Filtros concluídos</h3>
      <div class="link-list-wrapper u-flow-opposite">
        <button class="anchor-button anchor-button--type-2 anchor-button--size-3 anchor-button--color-4"><img class="anchor-button__icon" src="../../img/icons/icon-arrow.svg" alt="">Mais ações</button>
        <ul class="link-list link-list--menu col-2-12">
          <li class="link-list__item">
            <a href="#" class="link-list__anchor">
              <img class="link-list__icon" src="../img/icons/icon-profile.svg" alt="" />
              Profile
            </a>
          </li>
          <li class="link-list__item">
            <a href="#" class="link-list__anchor">
              <img class="link-list__icon" src="../img/icons/icon-logout.svg" alt="" />
              Logout
            </a>
          </li>
        </ul>
      </div>
      <table class="table">
        <thead class="table__head">
          <tr>
            <th><label for="checkall" class="visuallyhidden">Selecionar todos os filtros</label><input type="checkbox" id="checkall"></th>
            <th>ID</th>
            <th>Nome do filtro</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Visualizar</th>
            <th>Começo</th>
            <th>Fim</th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr>
            <td><label for="id-filtro" class="visuallyhidden">Selecionar esse filtro</label><input type="checkbox" id="id-filtro"></td>
            <td>58ac7</td>
            <td>Marimbondo: Proteção ou dados pessoais</td>
            <td>NIC CEWEB</td>
            <td><img src="../../img/icons/icon-status--success.svg" alt=""></td>
            <td><a href="../../ferramenta/filtros/resultado" class="anchor-button anchor-button--color-2">Ver</a></td>
            <td>15 de Fev de 2017 17:09</td>
            <td>15 de Fev de 2017 17:12</td>
          </tr>
        </tbody>
        <tbody class="table__body">
          <tr>
            <td><label for="id-filtro" class="visuallyhidden">Selecionar esse filtro</label><input type="checkbox" id="id-filtro"></td>
            <td>58ac7</td>
            <td>Marimbondo: Proteção ou dados pessoais</td>
            <td>NIC CEWEB</td>
            <td><img src="../../img/icons/icon-error.svg" alt=""></td>
            <td><strong>Não retornou nenhum resultado</strong></td>
            <td>15 de Fev de 2017 17:09</td>
            <td>15 de Fev de 2017 17:12</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

<!-- END TOOL CONTENT -->
</main>
