<div class="col-xs-12">
  <div class='filter'></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-10 form-group">
  <a class='query btn btn-primary btn-success' {{action 'onSearch'}}> Search</a>
</div>
