<table class="table table-stripped">
  <thead>
    {{jobs.table-header selectAll=(route-action "selectAll")}}
  </thead>
  <tbody>
    {{#each sortedModel as |job|}}
      {{jobs.table-item job=job wasChecked=(route-action "wasChecked")}}
    {{/each}}
  </tbody>
</table>
