<div class="item-row">
  <div class="item-col fixed item-col-check">
    <label class="item-check" id="select-all-items">
      <input type="checkbox" class="checkbox">
      <span></span>
    </label>
  </div>
  <div class="item-col item-col-header item-col-title">
    <div>
      <span>Job Name</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-title">
    <div>
      <span>Author</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-stats">
    <div class="no-overflow">
      <span>Status</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-visualize">
    <div class="no-overflow">
      <span>Visualize</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-date">
    <div class="no-overflow">
      <span>Started</span>
    </div>
  </div>
  <div class="item-col item-col-header item-col-date">
    <div class="no-overflow">
      <span>Completed</span>
    </div>
  </div>
</div>
