<th>
  <label class="item-check" id="select-all-items">
    <input type="checkbox" class="checkbox" onchange={{action "selectAll"}}>
    <span></span>
  </label>
</th>
<th>Job Name</th>
<th>Author</th>
<th>Status</th>
<th>Visualize</th>
<th>Started</th>
<th>Completed</th>
