.gViz-wrapper[data-id='sentiment-analysis-v2'] {
  border: 1px solid lightgray;
  min-height: 600px;
  background-color: white;

  .header {
    height: 8em;
    background-color: #323232;
    color: white;
    font-family: "Heuvetica Neue", Helvetica, Arial, sans-serif;

    .brasao-wrapper {
      text-align: center;

      img.brasao-da-republica {
        position: relative;
        margin-left: 1em;
        margin-top: 0.75em;
        height: 6.5em;
      }
    }

    .title-wrapper {
      padding-top: 2.1em;
      padding-left: 2.1em;


      .project-title {
        font-size: 1.7em;
      }

      .project-description {
        font-size: 1em;
      }
    }

    .statistics-wrapper {
      text-align: center;
      padding-top: 2.1em;

      .statistics {
        .count {
          font-size: 1.7em;
        }

        .text {
          font-size: 1em;
        }
      }
    }
  }

  .filters {
    height: 15em;
    background-color: #F0EEEF;
    border-bottom: solid 1px lightgray;
    text-align: center;

    .sentiment-filters {
      border-right: solid 1px lightgray;

      .limit-height {
        height: 2em;
      }

      .filter-title {
        font-size: 0.9em;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1.2em;
      }

      .sentiment {
        height: 5em;

        .emoticons-wrapper {
          height: 2em;

          .filter-emoticon {
            border: solid 2px;
            border-radius: 30px;
            padding: 3px;
            font-size: 1em;
            color: #ccc;
            transition: font-size 0.1s;

            &:hover {
              cursor: pointer;
            }

            &.active{
              cursor: pointer;
              font-size: 1.1em;

              &.negative {
                border-color: #f09f9f;
                color: #f09f9f;
              }

              &.neutral  {
                border-color: #e4bb3e;
                color: #e4bb3e;
              }

              &.positive {
                border-color: #8fb3a9;
                color: #8fb3a9;
              }
            }
          }
        }
      }

      .filter-slider {
        height: 5em;
        padding-left: 1em;

        .slider-left {
          margin-right: 0.5em;
        }

        .slider-right {
          margin-left: 0.5em;
        }

        .participations-input input {
          background-color: white;
          width: 90%;
          margin-left: 2em;
        }

        .sentiment-slider {
          // .slider[data-id="sentiment-analysis"] {
            //   -webkit-appearance: none;  /* Override default CSS styles */
            //   appearance: none;
            //   width: 100%; /* Full-width */
            //   height: 25px; /* Specified height */
            //   background: #d3d3d3; /* Grey background */
            //   outline: none; /* Remove outline */
            //   opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            //   -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            //   transition: opacity .2s;

            //   /* Mouse-over effects */
            //   &:hover {
              //     opacity: 1; /* Fully shown on mouse-over */
            //   }

            //   // &::-webkit-slider-thumb {
              //   //   -webkit-appearance: none; /* Override default look */
              //   //   appearance: none;
              //   //   width: 25px; /* Set a specific slider handle width */
              //   //   height: 25px; /* Slider handle height */
              //   //   background: #4CAF50; /* Green background */
              //   //   cursor: pointer; /* Cursor on hover */
            //   // }

            //   // &::-moz-range-thumb {
              //   //   width: 25px; /* Set a specific slider handle width */
              //   //   height: 25px; /* Slider handle height */
              //   //   background: #4CAF50; /* Green background */
              //   //   cursor: pointer; /* Cursor on hover */
            //   // }
          // }

          // .filter-title-part {
            //   font-size: 12px;
          // }
        }
      }
    }
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .input-group {
    width: 95%;
    float: right;
    margin-right: 1em;
    margin-top: 6em;

    input {
      width: 100%;
      padding: 0.5em 1em 0.5em;
      background-color: $full-white;
      border: 1px solid $border-light-gray;
      color: $dark-gray;
      @include placeholder;
    }

    .input-group-addon {
      width: 44px;
      border: 1px solid #ccc;
      background-color: $full-white;
      border: 1px solid $border-light-gray;
      border-left: none;
      transition: background-color ease-in-out .5s, color ease-in-out .15s;
      cursor: pointer;

      &:hover {
        background-color: $dark-gray !important;
        color: $full-white;
      }
    }
  }

  .visualization-wrapper {

    .has-border-right {
      border-right: solid 1px #ccc;
    }

    .article {
      padding: 1.5em 0 1.5em 0;
      line-height: 1.5em;
      overflow: hidden;

      transition: height 0.5s;
      max-height: 1000em;
      &.has-max-height { height: 10em; }

      .gViz-wrapper-outer {
        height: 100%;
        padding-left: 1em;

        .gViz-wrapper-inner {
          height: 100%;
        }
      }

      .article-score {
        text-align: center;
        padding-top: 2.3em;

        .article-emoticon {
          border: solid 2px;
          border-radius: 30px;
          padding: 3px;
          font-size: 20px;

          &.negative {
            border-color: #f09f9f;
            color: #f09f9f;
          }

          &.neutral  {
            border-color: #e4bb3e;
            color: #e4bb3e;
          }

          &.positive {
            border-color: #8fb3a9;
            color: #8fb3a9;
          }
        }

        .participations {
          font-weight: bold;
          padding-top: 1em;
        }
      }
    }

    .article-content {
      .article-title {
        padding-top: 1.7em;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
      }

      i.expand-article {
        margin-left: 5px;
        cursor: pointer;
        transition: transform 0.3s;

        &.active {
          transform: rotate(90deg);
        }
      }

      .article-text {
        padding-right: 2.5em;
        text-align: justify;
      }
    }

    svg.sentiment-bars {
      .axis { display: none; }
      .axis text { display: none; }
    }

    &:last-of-type {
      margin-bottom: 1.5em;
    }
  }

  /* mixin for multiline */
  // @mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    //   overflow: hidden;
    //   position: relative;
    //   line-height: $lineHeight;
    //   max-height: $lineHeight * $lineCount;
    //   text-align: justify;
    //   margin-right: -1em;
    //   padding-right: 1em;

    //   &:before {
      //     content: '...';
      //     position: absolute;
      //     right: 0;
      //     bottom: 0;
    //   }

    //   &:after {
      //     content: '';
      //     position: absolute;
      //     right: 0;
      //     width: 1em;
      //     height: 1em;
      //     margin-top: 0.2em;
      //     background: $bgColor;
    //   }
  // }

  // .article-text {
    //     @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor:
    //     white);
  // }
}
