svg.sentiment-analysis-chart {
  .background {
    fill: #eee;
  }

  line {
    stroke: #fff;
  }

  text.active {
    fill: red;
  }

  .legend.title {
    font-size: 1em;
  }
}

.gViz-wrapper {

  padding-right: 5px;
  padding-left: 5px;

  .sort-by {
    transform: translate(0px, 5px);
    font-weight: bold;
  }

  &.sentiment-analysis-wrapper {
    overflow: auto;
  }


  table.table-chart {
    thead {
      th {
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 25px;
        max-width: 100px;
        text-transform: uppercase;
        letter-spacing: .8px;
        cursor: pointer;
      }
    }
    tbody {
      td {
        vertical-align: middle;
      }
    }

    .progress-bar {
      background-color: white;
    }
  }
}
