svg.sentiment-analysis-chart {
  .background {
    fill: #eee;
  }

  line {
    stroke: #fff;
  }

  text.active {
    fill: red;
  }

  .legend.title {
    font-size: 1em;
  }
}

.sentiment-controls {
  .sort-by {
    transform: translate(0px, 5px);
    font-weight: bold;
  }
}
.gViz-wrapper {

  &.sentiment-analysis-wrapper {
    padding: 0;
    overflow: auto;
    margin-right: -15px;
  }

  table.table-chart {
    thead {
      th {
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 25px;
        max-width: 100px;
        text-transform: uppercase;
        letter-spacing: .8px;
        cursor: pointer;
      }
    }
    tbody {
      td {
        vertical-align: middle;
      }
    }

    .progress-bar {
      background-color: white;
    }
  }
}
