///*------------------------------------*\
//    #ICONS
//\*------------------------------------*/

/* ICONS
========================================================================== */
.icon--running {
	will-change: animation;
	animation: loop 1.75s linear infinite;
}

/* ANIMATIONS
========================================================================== */
@keyframes loop {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}